body {
    font-family: Arial;
    background: white;
    padding: 20px;
}

.box {
    width: 350px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

h1 {
    text-align: center;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
